<div class="contain-to-grid">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="toggle-topbar menu-icon"><a href="#"></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                @*<li>@Html.ActionLink("Sponsoren", "Index", "Sponsors", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Kontakt", "Index", "Contact", new { area = "" }, null)</li>*@
                <li><a href="https://www.facebook.com/groups/dotnetug/" target="_blank"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="https://twitter.com/dotNETug" target="_blank"><i class="icon-twitter"></i> Twitter</a></li>
                @if (User.Identity.IsAuthenticated && User.IsInRole(WebRoles.Leader))
                {
                    <li class="divider"></li>
                    <li class="has-dropdown">
                        <a href="#">Admin</a>
                        <ul class="dropdown">
                            <li>@Html.ActionLink("Meetings", "Index", "Meeting", new { area = "Admin" }, null)</li>
                            <li>@Html.ActionLink("Locations", "Index", "Location", new { area = "Admin" }, null)</li>
                        </ul>
                    </li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Abmelden", "Logout", "Account", new { area = "" }, null)</li>
                }
            </ul>
        </section>
    </nav>
</div>
