@model UpcomingEventViewModel
<section class="section-border primary">
  <div class="row">
    <div class="large-9 columns">
      <header>
        <h4><a href="@Model.Event.SpeakerWebSite" target="_blank">@Model.Event.SpeakerName</a></h4>
        <h2>@Model.Event.Name</h2>
      </header>
      <p>
        @Html.Raw(Model.Event.Abstract.Replace("\n", "<br />"))
      </p>
    </div>
    <div class="large-3 columns">
      <div>
        <time>@Model.Event.StartDate.ToShortDateString() um @Model.Event.StartDate.ToShortTimeString() Uhr</time>
      </div>
      <div>
        <div>
          <a href="@Model.Location.WebSite" target="_blank">@Model.Location.Name</a>
        </div>
        <div>
          @Model.Location.Street
        </div>
        <div>
          <span>@Model.Location.ZipCode</span> <span>@Model.Location.City</span>
        </div>
      </div>
      <br />
      @if (!string.IsNullOrEmpty(Model.Event.ExternalRegistration))
      {
        <a class="secondary button small" href="@Model.Event.ExternalRegistration" target="_blank">Teilnehmen</a>
      }
      else
      {
        @Html.ActionLink("Teilnehmen", "Attend", "Rsvp", new { id = Model.Event.Id }, new { @class = "secondary button small" })
      }
    </div>
  </div>
</section>
