@model UpcomingEventViewModel
<section class="section-border upcoming-event">
  <div class="row">
    <div class="large-9 columns">
      <header>
        <h4><a href="@Model.Event.SpeakerWebSite" target="_blank">@Model.Event.SpeakerName</a></h4>
        <h2>@Model.Event.Name</h2>
      </header>
      <p>
        @Html.Raw(Model.Event.Abstract.Replace("\n", "<br />"))
      </p>
    </div>
    <div class="large-3 columns">
      <div>
        <time>@Model.Event.StartDate.ToShortDateString() um @Model.Event.StartDate.ToShortTimeString() Uhr</time>
      </div>
      <div>
        <div>
          <a href="@Model.Location.WebSite" target="_blank">@Model.Location.Name</a>
        </div>
        <div>
          @Model.Location.Street
        </div>
        <div>
          <span>@Model.Location.ZipCode</span> <span>@Model.Location.City</span>
        </div>
      </div>
      <br />
      <ul class="button-group">
        <li>
          <a class="secondary small button" href="@(!string.IsNullOrEmpty(Model.Event.ExternalRegistration) ? Model.Event.ExternalRegistration : Url.Action("Attend", "Rsvp", new { id = Model.Event.Id }))"><i class="icon-ticket"></i> @Labels.Attend</a>
        </li>
        <li><a href="@Html.MapUrl(Model.Location)" target="_blank" class="secondary small button"><i class="icon-map-marker"></i> @Labels.Map</a></li>
      </ul>
    </div>
  </div>
</section>
