@model ChangePasswordViewModel

@{
  ViewBag.Title = Labels.ResetPassword;
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Labels.ResetPassword</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.Token)

  @Html.LabelFor(model => model.NewPassword)
  @Html.PasswordFor(model => model.NewPassword)
  
  @Html.LabelFor(model => model.ConfirmNewPassword)
  @Html.PasswordFor(model => model.ConfirmNewPassword)

  <input type="submit" class="small button" value="@Labels.ResetPassword" />
}
