@model LoginViewModel

@{
  ViewBag.Title = Labels.Login;
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Labels.Login</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MailAddress)
  @Html.EditorFor(model => model.MailAddress)

  @Html.LabelFor(model => model.Password)
  @Html.EditorFor(model => model.Password)

  <input type="submit" class="small button" value="@Labels.Login" />
  
  @Html.ActionLink(Labels.ForgotPassword, "ForgotPassword", null, new { @class="small button success" })
}